
@{
    ViewBag.Title = "臨時密碼確認";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    .SignupDiv {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px 0 10px 15px;
        margin: 10vh auto 0 auto;
        height: auto;
        z-index: 0;
    }
</style>

<div class="SignupDiv col-lg-6 col-sm-10">

    <h2>傳送成功</h2>

    <p>
        您的臨時密碼以傳送到您的信箱，請到Email取得臨時密碼，以登入系統進行其他操作
    </p>
    <p><a style="text-decoration:none" href='@Url.Action("SignIn", "Home")'>登入</a></p>

</div>